.overlay {
  position: fixed;
  inset: 0;
  background: #252525b2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
  z-index: 100;
}

.modal {
  background: #f4f3ff;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  padding: 18px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.title {
  font-family: kanit, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
}

.input {
  width: 100%;
  height: 38px;
  padding: 0 14px;
  border: 1px solid #6c63ff;
  border-radius: 6px;
  background: transparent;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  color: #252525;
  box-sizing: border-box;
  margin-top: 25px;

  &::placeholder {
    color: #9a96d6;
  }

  &:focus {
    outline: none;
    border-color: #534cc2;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;

  @media (max-width: 600px) {
    margin-top: 64px;
  }
}

.cancel,
.apply {
  min-width: 92px;
  height: 38px;
  border-radius: 6px;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.cancel {
  background: transparent;
  border: 1px solid #6c63ff;
  color: #6c63ff;

  &:hover {
    background: #e2dffc;
  }
}

.apply {
  background: #6c63ff;
  border: none;
  color: white;

  &:hover {
    background: #534cc2;
  }

  &:disabled {
    background: #b5b1f0;
    cursor: not-allowed;
  }
}
