.container {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #6c63ff;
  border-radius: 5px;
  min-width: 85px;
  height: 38px;
  border: none;
  color: white;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-family: kanit, sans-serif;

  .icon {
    width: 10px;
    height: 6px;
  }
}
