.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #6c63ff;
  border-radius: 5px;
  min-width: 85px;
  height: 38px;
  border: none;
  color: white;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-family: kanit, sans-serif;
  gap: 8px;

  .icon {
    width: 10px;
    height: 6px;
    transition: transform 0.2s ease;
  }

  .iconOpen {
    transform: rotate(180deg);
  }
}

.menu {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  min-width: 100%;
  width: max-content;
  margin: 0;
  list-style: none;
  background-color: #F7F7F7;
  border: 1px solid #6C63FF;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(108, 99, 255, 0.2);
  z-index: 10;
}

.option {
  padding: 6px 8px;
  color: #6c63ff;
  font-family: kanit, sans-serif;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: #DCDAF9;
    transition: background-color 0.2s ease;
  }
}

.optionSelected {
  background-color: #DCDAF9;
}
